<%= form_for(@pic) do |f| %>
  <% if @pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
      <% @pic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gallery_id %><br>
    <%= f.number_field :gallery_id %>
  </div>
  <div class="field">
    <%= f.label :original_url %><br>
    <%= f.text_field :original_url %>
  </div>
  <div class="field">
    <%= f.label :oss_url %><br>
    <%= f.text_field :oss_url %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.number_field :code %>
  </div>
  <div class="field">
    <%= f.label :visit_count %><br>
    <%= f.number_field :visit_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
