<p id="notice"><%= notice %></p>

<p>
  <strong>Gallery:</strong>
  <%= @pic.gallery_id %>
</p>

<p>
  <strong>Original url:</strong>
  <%= @pic.original_url %>
</p>

<p>
  <strong>Oss url:</strong>
  <%=image_tag @pic.oss_url %>
</p>

<p>
  <strong>Code:</strong>
  <%= @pic.code %>
</p>

<p>
  <strong>Visit count:</strong>
  <%= @pic.visit_count %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
