<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/css/mycss.css" rel="stylesheet" type="text/css" />
  <title>><%= @page_title ? "#{@page_title.to_s} - 宅男福利社" :  '美女图库 美女图片 美女套图 - 宅男福利社'%></title>    
  <meta name="keywords" content="<%= @page_title ? "#{@page_title.to_s} - 宅男福利社" :  '美女图库 美女图片 美女套图 - 宅男福利社'%>" />
  <meta name="description" content="<%= @page_title ? "#{@page_title.to_s} - 宅男福利社" :  '美女图库 美女图片 美女套图 - 宅男福利社'%>"
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!-- <div class="friend">--友情链接--<br />
</div> -->
<div class="bottom">Copyright © 2017 All rights reserved<br />
免责声明：本站提供的图片仅做为交流与欣赏，请勿用于商业活动。
<a target=blank href="mailto:youshengxiao@qq.com">点击这里给我发消息</a><br />
本站提供的图片均来自互联网，如无意中侵犯到您的权益，请与我们联系，我们会尽快清除相关内容。</div>
</body>
</html>




